body {
    background-color: azure;
}

.header {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: block;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.content li a {
    color: black;
    font-family: arimo;
    font-size: 20px;
    text-decoration: underline;
    line-height: 2;
}

.content li a:hover {
    color: aquamarine;
    text-decoration: underline;
}

@font-face {
    font-family: Arimo;
    src: url(A/ArimoNerdFont-Regular.ttf);
  }